/* GENERAL */

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
    text-align: center;
}

P {
    padding: 0 1.5rem;
    line-height: 1.5;
}


/* COLORS */

$dark-color: #17171a;
$light-color:#F4F1DE;
$medium-color:#66717E;
$primary-color:#fdb14e;
$secondary-color:#DE9151;