@import 'config';
@import 'helpers';
body {
    background: $light-color;
    font-family: 'Roboto Mono', monospace;
}


/* Header */

#header {
    .header-showcase {
        position: relative;
        background: url('../images/showcase.jpg') no-repeat center center/cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* Overlay */
        &::after {
            content: '';
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    // Header-Content
    .header-content {
        z-index: 1;
        h1 {
            font-size: 4rem;
            color: #fff;
            word-spacing: -1.5rem;
            span {
                color: $primary-color;
            }
        }
        p {
            font-size: 1.5rem;
            color: #fff;
            margin-bottom: 2rem;
            text-shadow: 1px 1px 2px $secondary-color;
        }
    }
}


/* Navigation */

#main-nav {
    position: sticky;
    top: 0;
    left: 0;
    background: $dark-color;
    z-index: 2;
    opacity: 1;
    .nav-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu {
        display: flex;
        // meni item
        &-item {
            padding: 1.3rem 1.7rem;
            &:hover {
                background: $secondary-color;
                transition: 0.3s ease-out;
                a {
                    font-size: 1.2rem;
                    transition: 0.3s ease-out;
                }
            }
            a {
                font-size: 1.1rem;
            }
        }
    }
}


/* About */

.about-section {
    h2 {
        text-align: center;
        font-size: 2rem;
        color: $secondary-color;
    }
    p {
        color: $dark-color;
        border-left: 3px solid $secondary-color;
    }
}


/* Products Section */

#products {
    background: $secondary-color;
    h2 {
        font-size: 2rem;
        margin-bottom: 3rem;
        color: $light-color;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.3rem;
        // card
        .card {
            background: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1.5rem 0.5rem;
            height: 100%;
            border-radius: 4px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), -1px -1px 5px rgba(0, 0, 0, 0.4);
            h3 {
                font-size: 1rem;
            }
            .price {
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: bold;
            }
            &:hover {
                transform: scale(1.03);
                transition: 0.3s ease-out;
                cursor: pointer;
            }
        }
    }
}


/* Contact */

#contact {
    background: $secondary-color;
    padding: 3rem 0;
    h2 {
        font-size: 2.5rem;
        font-weight: bolder;
    }
    .contact {
        &-content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-around;
            align-items: center;
        }
        &-text form {
            display: flex;
            flex-direction: column;
            .form-field {
                margin-bottom: 0.5rem;
            }
            label {
                margin-bottom: 0.5rem;
                color: $dark-color;
                font-size: 1.1rem;
                font-weight: bolder;
            }
            input {
                width: 70%;
                height: 2.5rem;
                border: none;
                border-radius: 5px;
            }
            textarea {
                width: 70%;
                border-radius: 5px;
            }
            input[type='submit'] {
                margin: 1.2rem 0;
                padding: 0.6rem 1.2rem;
                color: $light-color;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &-map {
            width: 90%;
            height: 95%;
        }
    }
}


/* Footer */

#footer {
    background: $dark-color;
    .footer {
        &-content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            align-items: center;
            text-align: center;
            &>div:not(:last-child) {
                border-right: 1px dotted #555;
                height: 50%;
            }
            i {
                color: $secondary-color;
                padding: 0.4rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &-rights,
        &-social,
        &-payments {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: $light-color;
            }
        }
    }
}